@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&family=Playfair+Display:wght@700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font: 16px "Source Sans Pro", sans-serif;
  --clr-light: #293448;
  --bg-light: #FFF;
  --accent-light:red;
  --clr-primary-light:#192438;
  --clr-dark: #dcdcdc;
  --bg-dark: #222831;
  --accent-dark:#fff;
  --bg-secondary-dark:#333c4a;
  --bg-third-dark:#445163;
  --foreground: var(--clr-dark);
  --background: var(--bg-dark);
  --accent: var(--accent-dark);
  --primary: var(--clr-primary-dark);
}

/* typography */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 300;
}

/* layout for mobile first */
body {
  color: var(--foreground);
  background-color: var(--background);
  /* max-width: 321px; */
  /* min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.container {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo img {
  display: block;
  width: 200px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  padding: 10px 20px;
  margin-right: 10px;
  position: relative;
  background-color: var(--bg-secondary-dark);
  -webkit-transition: background-color 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: background-color 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__item:hover {
  background-color: var(--bg-third-dark);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.8rem;
}

.social i {
  margin: 5px;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
  -webkit-transition: -webkit-filter 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-filter 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: filter 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: filter 200ms cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-filter 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.social i:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

/* MOBILE ONLY */
@media (max-width: 619px) {
  .container {
    min-height: 100vh;
  }
  .logo, .title, .nav {
    margin-top: auto;
  }
  .intro {
    max-width: 320px;
    text-align: center;
    margin: 10px auto 20px;
  }
  .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
}

/* DESKTOP ONLY */
@media (min-width: 620px) {
  body {
    max-width: 620px;
    min-height: 100vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: logo;
  }
  .title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: title;
  }
  .intro {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: intro;
  }
  .nav {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: nav;
  }
  .social {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: social;
  }
  .container {
    display: -ms-grid;
    display: grid;
    padding: 0;
    gap: 10px 15px;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "social logo title "  "social logo intro "  "social logo nav";
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
    margin: auto;
  }
  .social i {
    margin: 4px 0;
  }
  .nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

/* ANIMATIONS */
@-webkit-keyframes appear {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes appear {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes appear-bottom {
  from {
    bottom: 20px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes appear-bottom {
  from {
    bottom: 20px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes appear-left {
  from {
    right: 20px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes appear-left {
  from {
    right: 20px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.logo, .title, .intro, .nav, .social {
  position: relative;
  opacity: 0;
}

.logo {
  -webkit-animation: appear-left 1200ms 150ms forwards;
          animation: appear-left 1200ms 150ms forwards;
}

.title {
  -webkit-animation: appear-bottom 500ms 300ms forwards;
          animation: appear-bottom 500ms 300ms forwards;
}

.intro {
  -webkit-animation: appear 500ms 500ms forwards;
          animation: appear 500ms 500ms forwards;
}

.nav {
  -webkit-animation: appear 500ms 700ms forwards;
          animation: appear 500ms 700ms forwards;
}

.social {
  -webkit-animation: appear-left 500ms 600ms forwards;
          animation: appear-left 500ms 600ms forwards;
}

@media (max-width: 619px) {
  .logo {
    -webkit-animation-name: appear-bottom;
            animation-name: appear-bottom;
  }
  .social {
    -webkit-animation-name: appear;
            animation-name: appear;
  }
  .title {
    -webkit-animation-name: appear;
            animation-name: appear;
  }
}
/*# sourceMappingURL=style.css.map */