/* ANIMATIONS */

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 100;}
}
.logo, .title, .intro, .nav, .social{
  opacity: 0;
}
.logo{
  animation: appear 1200ms cubic-bezier(.57,.16,.87,.49) 150ms forwards;
}
.title{
  animation: appear 500ms cubic-bezier(.57,.16,.87,.49) 300ms forwards;
}
.intro{
  animation: appear 500ms cubic-bezier(.57,.16,.87,.49) 500ms forwards;
}
.nav{
  animation: appear 500ms cubic-bezier(.57,.16,.87,.49) 800ms forwards;
}
.social{
  animation: appear 500ms cubic-bezier(.57,.16,.87,.49) 900ms forwards;
}
