@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

@mixin animation($animation-name, $duration) {
    -webkit-animation: $animation-name $duration;
    animation: $animation-name $duration;
}


@mixin transform($transform) {
    -webkit-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
  }
  

@mixin mq($size){
    @media only screen and (min-width: $size){
        @content
    }
}