/* ---- reset ---- */


  
  canvas {
    display: block;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #222831;
    background-repeat: no-repeat;
    z-index:-1;
    .particles-js-canvas-el{
      @include transform(scale(1));
      opacity:0;
      animation-name: zoom-in;
      animation-duration: 1.4s;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }
  }
  
  @keyframes zoom-in{
    from {
      @include transform(scale(0));
      opacity:0;
    }
    to {
      @include transform(scale(1));
      opacity:1;
    }
  }
  