/* MOBILE ONLY */

@media (max-width: 619px) {
  .home {
    min-height: 100vh;

    .logo,
    .person,
    .social 
    {
      margin-top: auto;
    }
    .intro {
      max-width: 320px;
      text-align: center;
      margin: 10px auto 20px;
    }
    .nav {
      order: 1;
      margin-top: 20px;
      margin-bottom: auto;
    }
    .social a {
      margin: 5px;
    }
  }
}

/* DESKTOP ONLY */

@media (min-width: 620px) {
  body {
    max-width: 620px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    grid-area: logo;
  }
  .person {
    grid-area: person;
  }
  .intro {
    grid-area: intro;
  }
  .nav {
    grid-area: nav;
  }
  .social {
    grid-area: social;
  }

  .home {
    display: grid;
    padding: 0;
    gap: 10px 15px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "social logo person "
      "social logo intro "
      "social logo nav";

    .social {
      flex-direction: column;
      margin: auto;
    }
    // .social a {
    //   margin: 4px 0;
    // }
    .nav {
      order: 0;
    }
  }
}
