
---
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Kaggle from "../icons/Kaggle.astro";
import Codepen from "../icons/Codepen.astro";
import Instagram from "../icons/Instagram.astro";
import Mail from "../icons/Mail.astro";
---

  <div class="container home">
    <div class="logo">
      <img src="/profile.jpg" alt="">
    </div>

    <h2 class="person">Vikram Soni</h2>
    <p class='intro'>AI and data science enthusiast, passionate about machine learning, predictive modeling and artificial neural networks.</p>
  
    <div class="social">
      <a href="https://www.linkedin.com/in/vikramsoni2/" aria-label="linkedin" title="LinkedIn">
        <Linkedin/>
      </a>
      <a href="https://github.com/vikramsoni2" aria-label="github" title="Github">
        <Github/>
      </a>
      <a href="https://www.kaggle.com/vikramsoni2" aria-label="kaggle" title="Kaggle">
        <Kaggle/>
      </a>
      <a href="https://codepen.io/vikramsoni" aria-label="codepen" title="Codepen">
        <Codepen/>
      </a>
      <a href="mailto:vikram_soni@hotmail.com" aria-label="Email" title="Email">
        <Mail/>
      </a>
    </div>
  </div>


