@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&family=Playfair+Display:wght@500;600;700&display=swap");

$head-font: 'Playfair Display', serif;
$base-font: "Source Sans Pro", sans-serif;

$clr-light: #293448;
$bg-light: #FFF;
$bg-secondary-light: #eee;
$accent-light:red;
$clr-primary-light:#192438;
$bg-third-light: #ddd;

$clr-dark: #dcdcdc;
$bg-dark: #222831;
$accent-dark:#fff;
$bg-secondary-dark:#333c4a;
$bg-third-dark:#445163;

$clr: $clr-light;
$bg : $bg-light;
$accent: $accent-light;
$bg-secondary : $bg-secondary-light;
$bg-third:$bg-third-light;


