$head-font: 'Playfair Display', serif;
$base-font: "Source Sans Pro", sans-serif;

$clr-light: #293448;
$bg-light: #FFF;
$accent-light:red;
$clr-primary-light:#192438;

$clr-dark: #dcdcdc;
$bg-dark: #222831;
$accent-dark:#fff;
$bg-secondary-dark:#333c4a;
$bg-third-dark:#445163;

